body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center{
  text-align: center;
}
.submit-btn {
  background-color: #000000;
  color: white;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 0.5em 0;
  font-size: 1em;
}
.activeQuestions {
  color: #8973a7;
  font-weight: 600;
}
.center {
  text-align: center;
}