body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center{
  text-align: center;
}
.submit-btn {
  background-color: #0164a5;
  color: white;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 0.5em 0;
  font-size: 1em;
}
.activeQuestions {
  color: white;
  font-weight: 600;
}
.center {
  text-align: center;
}
.question-details {
  width: 100%;
  max-width: 600px;
  padding: 0;
  margin: 16px auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
}
.avatar {
  height: 48px;
  width: 48px;
  border-radius: 25px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
  float: left;
}
.question-link {
  text-decoration: none;
  padding: 6px 16px;
  color: #0164a5;
  border: 1px solid #0164a5;
  background-color: white;
  border-radius: 16px
}
.question-header {
  height: 70px;
  background-color: #0164a5;
  color: white;
  font-size: 16px;
  line-height: 1.4;
}
.question-title {
  padding-top: 24px;
}
.question-info {
  padding: 32px;
  text-align: center;
}
.nav-bar, .nav-link{
  background-color: #0164a5;
  color: white;
}

/* Split the screen in half */
.split {
  height: 50px;
  width: 50%;
  position: relative;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #0164a5;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #0164a5;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:#0164a5;
}

.new-question {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.question-option{
  width: 400px;
  border-radius: 2px;
  border: 1px solid #CCC;
  padding: 10px;
  color: #333;
  font-size: 14px;
  margin: 10px;
}
.button{
  padding: 10px 25px 8px;
  color: #fff;
  background-color: #0067ab;
  text-shadow: rgba(0,0,0,0.24) 0 1px 0;
  font-size: 16px;
  box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
  border: 1px solid #0164a5;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 10px;
  cursor:pointer;
}
 .selected-value {
   padding: 10px;
   color:white;
  background-color: #0164a5;
  border-radius: 25px;

 }
 .nav-right{
   right: 0em;
 }

 .dashboard {
  text-align: center;
  margin-left:auto;
  margin-right:auto; 
   padding: 10px;
  background-color: #0067ab;
  max-width: 700px;
  border-radius: 3px;
}
